.App {
  text-align: center;
}
.container{
  background-color: aquamarine;
  border: 3px solid #0f0e58;
  padding: 20px;
  margin: 30px;
  border-radius: 20px;
}
.player {
  background: rebeccapurple;
  border: 2px solid red;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  color: #ffffff;
}